@model IEnumerable<MVCAssignment7_1.Models.Donation>

@{
    ViewBag.Title = "Index";
}
    <div><h2>Donation Page</h2>

        <p>
            @Html.ActionLink("Create New Donation", "Create")
        </p>
    </div>

